$f1-red: #e10600;

$Ferrari:#f91536;
$Mercedes:#6cd3bf;
$RedBull:#3671c6;
$McLaren:#f58020;
$AlpineF1Team:#2293d1;
$AlfaRomeo:#c92d4b;
$HaasF1Team:#b6babd;
$AlphaTauri:#5e8faa;
$Williams:#37bedd;
$AstonMartin:#358c75;
$Sauber:#002777;
$Renault:#fed73a;
$ToroRosso:#0132aa;
$ManorMarussia:#f76137;
$HRT:#e5dfe0;
$ForceIndia:#efacce;
$BMWSauber:#ffffff;